
.menu-section {
    padding: 60px 20px;
    text-align: center;
  }
  
  .menu-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .menu-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 40px;
    padding: 0;
  }
  
  .menu-tab {
    cursor: pointer;
    font-size: 14px;
    color: #444;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
  }
  
  .menu-tab.active {
    color: #d62828;
    border-color: #d62828;
  }
  
  .menu-products {
    width: 100%;
  }
  
  
  .category-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 50px;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
  }
  
  .menu-card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px 10px;
    width: 100%;
    max-width: 305px !important;
    text-align: center;
    transition: 0.2s ease;
    box-shadow: 0 2px 4px rgb(0 0 0 / 19%);
  }
  
  .menu-card img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .menu-card p {
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  

  @media (max-width: 768px) {
    .menu-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .menu-grid {
      grid-template-columns: 1fr;
    }
  }
  